.testing {
    width: 18rem;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.buttons {
    display: flex;
}

.navbar-collapse {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.nav-item {
    margin-right: 10px;
}

footer {
    height: 100px;
    width: 1300px;
    color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 200;
    line-height: 21px;
    border-radius: 10px 10px 0 0;
    background-color: #6a6b6b;
    margin: 0 auto;
    max-width: 1300px;
}
.order {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.orderCenter {
    text-align: center;
    margin: 20px;
}


.btn-close {
    position: relative;
    left: 92%;
}

.card {
    transition-duration: 0.4s;
}

.card:hover {
    transform: scale(1.1);
}

#catalog {
    display: flex;
    justify-content: center;
}

.orderInput{
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
.orderInputOut{
    margin: 0 auto;
    text-align: center;
    background: lightgray;
    height: 342px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}
.ordeStatusRed{
    color: red;
}

